<nav id="mynav" class="navbar sticky-top  nav-colored">
    <a class="brandhome codelnlogo" href="/">CODELN</a>


    <ul class="nav justify-content-end orient">
        <li class="nav-item">
            <a class="nav-link colorlink" href="/pricing">Pricing</a>
        </li>

        <li class="nav-item">
            <a class="nav-link colorlink" href="/recruiter">Recruiters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link colorlink" href="/dev">Developers</a>
        </li>



    </ul>
</nav>

<div class="alert  alert-dismissible fade show" role="alert" {{#if noMessage}} hidden {{/if}} style="color: #2524FF;margin-left: 37%">{{ successMsg }}

</div>

