<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="cardno great gr">
                <div class="card-body">
                    <img class="beer" src="../.././images/1.png">
                    <div class="h4">Early access</div>
                    <hr>
                    <div class="h6">

                        <p>Explore our project library</p>
                        <p>Custom environment variables</p>
                        <p>Easily monitor ongoing assessments</p>
                        <p>Get comprehensive reports</p>
                        <p>Live demos of candidates work</p>


                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 " style="margin-top: 4%">

            <h4>Currently Recruiting?</h4>

            <form action="/recruiter" method="post">


                <div class="form-group">

                    <label>Full name</label>
                    <input type="text" class="form-control" required name="username">
                </div>
                <div class="form-group">
                    <label>Company</label>
                    <input type="text" class="form-control" required name="company">
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" class="form-control" required name="email">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Get early access</button>
                <hr>
                <p>Are you a dev? <a style="color: #2524FF" href="/dev">Signup</a></p>


            </form>


        </div>

    </div>


</div>