<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="cardno great gr">
                <div class="card-body">
                    <img class="beer" src="https://cdn.dribbble.com/users/77598/screenshots/4308169/dribbble1.png">
                    <div class="h4">My portfolio</div>

                    <hr>
                    <div class="h6">
                        <p>Real world projects</p>
                        <p>Easy access to available jobs</p>
                        <p>Track skill progress</p>
                        <p>Codeln score (accredited score of proficiency)</p>
                        <p>Deploy all your apps</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 " style="margin-top: 10%">

            <h4>Want to improve your skill?</h4>

            <form action="/dev" method="post">


                <div class="form-group">

                    <label>Full Name</label>
                    <input type="text" class="form-control" required name="username">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" required name="email">
                </div>



                <button type="submit" class="btn btn-warning btn-lg">Get early access</button>


            </form>


        </div>

    </div>


</div>